@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.qr-reader {
  width: 100%;
  height: 50vh;
  margin: 20px auto 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.qr-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 822px) {
  .qr-video {
    width: 430px;
  }
}

.qr-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(8px); */
  z-index: 1;
}

.qr-box {
  position: absolute;
  width: 300px; 
  height: 300px; 
  border: 2px solid yellow; /* Changed to yellow for visibility */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: none;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.scanner-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: red;
  animation: scan 2s infinite;
}

@keyframes scan {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@media (max-width: 426px) {
  .qr-reader {
    width: 100%;
  }
  .qr-box {
    width: 200px; 
    height: 200px;
  }
  .qr-video {
    width: 60%;
    height: 50%;
    top: 25%;
    left: 20%;
  }
}